#breadcrumb {
    list-style: none;
    margin: 0 0 16px;
    padding: 0;
}
#breadcrumb li {
    display: inline;
}
#breadcrumb li::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-top: solid 2px #eee6e0;
    border-right: solid 2px #eee6e0;
    transform: rotate(45deg);
    margin: 0 4px;
}
#breadcrumb a span::before {
    content: "";
}
#breadcrumb a span {
    padding: 0;
    font-size: 14px;
    font-family: 'Ubuntu', 'Yu Gothic Medium', 'YuGothic', sans-serif;
    color: #999;
    background: transparent;
}

main article p.moved samp {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    font-size: 12px;
    color: #666;
    overflow-wrap: break-word;
}

.content figure img,
.content figure > * {
    width: 100% !important;
    height: auto !important;
}
